<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Farmhouse Retreat</title>
    <link rel="icon" type="image/png" href="/static/logo.png">
    <link rel="stylesheet" href="../static/dist/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="bg-accent-cyan">
    <nav class="bg-nav-black ">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/static/logo.png" class="h-10 rounded" alt="Logo" />
          <span class="self-center text-1xl font-semibold whitespace-nowrap text-accent-cyan underline underline-offset-8 uppercase font-Cantarell hover:text-accent-cyan-highlighted" href="/">french farmhouse retreat</span>
      </a>
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-dropdown" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border  rounded-lg  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-nav-black">

          <li>
              <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 rounded text-white md:hover:bg-transparent md:border-0 md:hover:text-accent-cyan-highlighted md:p-0 md:w-auto  hover:accent-cyan-highlighted">Booking Information <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg></button>
              <!-- Dropdown menu -->
              <div id="dropdownNavbar" class="z-10 hidden font-normal bg-nav-black divide-y divide-gray-100 rounded-lg shadow w-44 ">
                  <ul class="py-2 text-sm text-white " aria-labelledby="dropdownLargeButton">
                    <li>
                        <a href="/" class="block px-4 py-2 hover:bg-accent-cyan-highlighted ">Home</a>
                    </li>
                    <li>
                      <a href="/price_and_availability" class="block px-4 py-2 hover:bg-accent-cyan-highlighted ">Price & Availability</a>
                    </li>
                    <li>
                      <a href="/reviews" class="block px-4 py-2 hover:bg-accent-cyan-highlighted ">Reveiws</a>
                    </li>
                    <li>
                      <a href="/gettinghere" class="block px-4 py-2 hover:bg-accent-cyan-highlighted ">Getting Here</a>
                    </li>
                  </ul>
              </div>
          </li>

        </ul>
      </div>
    </div>
    </nav>

    <h1 class=" my-11 text-center text-4xl font-Cantarell underline underline-offset-8">FRENCH FARMHOUSE RETREAT - CHANT OISEAU</h1>
    
    <div class="flex justify-center items-center flex-col">
        <img class="rounded-2xl shadow border-accent-cyan-highlighted border border-x-8 border-y-4" src="/static/Webpage Images/4ve7s2m0.bmp" alt="alternate text">
        
        <h1 class="font-Cantarell mx-0 sm:mx-0 md:mx-32 lg:mx64 text-5xl self-start my-3 underline underline-offset-4" >Location</h1>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
            The farmhouse is nestled in the idyllic French countryside within the Perigord Vert region of the Dordogne and, in the heart of the Limousin National Park, south west France.  
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
            <br>Just a short distance from the charming village of Mialet where you will find a boulangerie for your fresh bread and croissants, a butchers, a shop, a bar and a Tuesday morning market for all those essential provisions.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
            <br>Whether you choose to make the most of the peace and tranquility the property offers,  BBQ by the private pool, or explore the  Dordogne region where you will be sure to find something for everyone in the family from canoeing, paddle boarding, lake beaches, chateaux, pretty towns and villages, French markets, caves and vineyards.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
            <br>#Familytime 
        </p>
        <div class="flex justify-center items-center">
            <img class="rounded-full h-80 mx-32 shadow border border-accent-cyan-highlighted border-x-4 hover:h-96 transition-all" src="/static/Webpage Images/yumxsl8o.bmp" alt="">
            <img class="rounded-full h-80 mx-32 shadow border border-accent-cyan-highlighted border-x-4 hover:h-96 transition-all" src="/static/Webpage Images/arc2km2g.bmp" alt="">
        </div>
        <hr class="w-80 h-1 mx-auto my-4 bg-gray-700 border-0 rounded md:my-10"> 
        <div class="flex justify-center items-center flex-row">
            <div class="w-1/2">
                <h1 class="font-Cantarell mx-0 sm:mx-0 md:mx-32 lg:mx64 text-5xl self-start my-3 underline underline-offset-4" >The Property</h1>
                <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    The property has been lovingly restored providing comfortable accommodation throughout with plenty of room for everyone to relax.
                </p>
                <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    <br>Escape the hustle and bustle of everyday life and find peace and relaxation at the French Farmhouse Retreat, perfect for families and friends who wish to holiday together. 
                </p>
                <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    <br>We are delighted to welcome your furry companions as well. 
                </p>
                <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    <br>The Farmhouse boasts well equipped facilities, including high-speed Wi-Fi, hundreds of TV channels (including English TV), board games, an Xbox 360, BBQ areas and a large sun terrace. Say goodbye to the struggle for sunbeds around the spacious private pool. The large mature gardens are ideal for outdoor games like football and we offer private parking for multiple cars. 
                </p>
                <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    <br>The pool house features a toilet, shower facilities and a washing up area, making it convenient for poolside dining outside on warm summer evenings in the beautiful Dordogne countryside. 
                </p>
            </div>
            <div class="w-1/2">
                <h1 class="font-Cantarell mx-0 sm:mx-0 md:mx-32 lg:mx64 text-5xl self-start my-3 underline underline-offset-4" >Facilites</h1>
                <ul class=" list-disc font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    <li>3 spacious double bedrooms</li>
                    <li>1 twin bedded room</li>
                    <li>Cot & camp bed</li>
                    <li>Comfortable living room & wood burner</li>
                    <li>Stylish dinning room</li>
                    <li>Fully fitted kitchen with air fryer, hob, oven, coffee machine, slow cooker, dishwasher, toaster and washing machine</li>
                    <li>Bathroom & additional WC</li>
                    <li>Private swimming pool 14x7m</li>
                    <li>Sunbeds & large sun terrace</li>
                    <li>BBQ</li>
                    <li>Pool house with shower, toilet and washing up facilities</li>
                    <li>Extensive mature gardens</li>
                    <li>Plenty of  complimentary parking</li>
                    <li>Self check-in</li>
                    <li>Table tennis</li>
                    <li>Board games</li>
                    <li>360 Xbox</li>
                    <li>French and British TV channels, Netflix & Prime</li>
                </ul>
                <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    <br>There will be a complimentary welcome gift waiting for you to help get your holiday off to a good start!
                </p>
                <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    <br>#Relax 
                </p>
                <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                    #Frenchlife
                </p>
            </div>
        </div>
        <img class="rounded-2xl shadow border-accent-cyan-highlighted border border-x-8 border-y-4" src="/static/Webpage Images/j8qqlmlx.bmp" alt="alternate text">
        <h1 class="font-Cantarell mx-0 sm:mx-0 md:mx-32 lg:mx64 text-5xl self-start my-3 underline underline-offset-4" >The Local Area</h1>
        
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
            The Dordogne, land of 1001 chateaux and a region bursting with charm it's no wonder it draws tourists from all over the world each year.  You really will be spoilt for choice if you can tear yourselves away from the lovely pool.  
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            There are a number of lake beaches in the local area which will prove to be a big hit with all family members.  With on-site restaurants, water activities, playing facilities, lakeside walks and of course the lake beach itself.  The Lake at Saint Estephe even has a little foot ferry to cross the lake which is great for all family members to get involved with. They offer complimentary canoeing and paddle boarding during peak season with a life guard on duty.  The food huts behind the lake will keep everyone happy serving hot and cold food, ice-creams, crepes to name but a few tasty treats.  There is even a night food market by the lake during July and August.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            Brantome en Perigord, the jewel of Perigord vert and known locally as the little Venice of Perigord.  This charming town is home to one of the oldest bell towers in France and the stunning abbey which dominates the town.  Take a tour of the abbey, caves, climb the bell tower, take a boat trip, canoe, paddle board or just stroll through the pretty streets and boutique shops.  If you are celebrating a special occasion, or are a foodie you may like to dine at the Michelin star restaurant Le Moulin de l'Abbaye https://www.moulinabbaye.com During peak season the town hosts river jousting on Friday nights in front of the abbey on the River Dronne.  A really fun activity to watch that draws a big crowd and creates a wonderful atmosphere on a warm summers evening.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            Bourdeilles, just a very short distance from Brantome en Perigord is another charming village to wander around, take a pic nic by the river while the canoes gentle paddle by.  Home to two chateaux which are open to the public.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            Saint Jean de Cole, listed as one of the prettiest villages in France and sits on the River Cole.  This is a charming little village to explore, with it's beautiful chateau and an ideal place to stop for some lunch or a crepe.   Close by you will find Grotte de Villars  https://grotte-villars.com home to a network of impressive caves where you can take a guided tour, enjoy the family animations and prehistoric gardens.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            The capital of Perigord Vert is a town called Nontron, sitting high above the River Bandiat.   Famous for knives, the Nontron knife is the oldest French knife originating from the 15th Century.  It is still possible to see these knives in production today by visiting https://nontron-knife-france.com/la-coutellerie  Home also to the Metiers d'Art where you can view and buy beautiful crafts made by local artisans.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            French markets are an important part of French life.  There are some very good markets in the area including Brantome, Bergerac, Piegut Pluviers and Riberac to name but a few.  There are usually opportunities to sample some local produce as you wander through the stalls immersing yourselves in French life and the busy hub-bub of the morning markets.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            Products produced locally include: goats cheese, honey, walnuts, walnut oil, walnut cake and biscuits, duck, foie gras, strawberries and of course wine!  A visit just over the boarder to the Charante region will allow you to discover the wonderful world of Cognac, visit some vineyards and claos with some Cognac tasting.  Don't forget to try the Pineau, a locally produced aperitif.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            During July and August the region comes alive with different events and activities.  Popular evening events are the night markets, or as they are correctly called Marches de Producteur.  These events are popular with locals and tourists alike,  You purchase produce directly from local producers and then have it cooked in front of you.  Find a table and enjoy the atmosphere and great local food.  Often these events will have live music.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            It is impossible to list every opportunity, but this gives you a taste of what the region can offer you.  Calling into the local tourist offices will ensure you can make the most of your holiday.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            Other activities in the region for the family include, archery, boat trips, horse riding, adventure park, Velo rail and Go-Karting.
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            #Dordogneholidays
        </p>
        <p class="font-Cantarell mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start"><br>
            #FamilyholidaysinFrance
        </p>

    <div class="w-full px-40 ">
        <div id="default-carousel" class="relative w-full  p-6 bg-accent-cyan-highlighted" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (1).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (2).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (3).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (4).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (5).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (6).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (7).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (8).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (9).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (10).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (11).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (12).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (13).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (14).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (15).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (16).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (17).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/Webpage Images/Carousel/image (18).webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
            </div>
            <!-- Slider indicators -->
            <div class=" absolute z-40 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 7" data-carousel-slide-to="6"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 8" data-carousel-slide-to="7"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 9" data-carousel-slide-to="8"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 10" data-carousel-slide-to="9"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 11" data-carousel-slide-to="10"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 12" data-carousel-slide-to="11"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 13" data-carousel-slide-to="12"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 14" data-carousel-slide-to="13"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 15" data-carousel-slide-to="14"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 16" data-carousel-slide-to="15"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 17" data-carousel-slide-to="16"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 18" data-carousel-slide-to="17"></button>

            </div>
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full py-16 px-12 cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full py-16 px-12 cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
        </div>



        <div class="h-auto bg-nav-black py-32">
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                <div>
                    <img class="h-auto max-w-1x1  rounded-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
                </div>
  
            </div>

            <p class="font-Cantarell text-white mx-0 sm:mx-6 md:mx-16 lg:mx-36 text-2xl self-start">
                heya!
            </p>
        </div>
    </div>

    </div>

    <footer class="bg-nav-black rounded-lg shadow  m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/static/logo.png" class=" rounded h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap font-Cantarell capitalize text-accent-cyan ">french farmhouse retreat</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 ">
                <li>
                    <a href="/privpol" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="/" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>